/* src/TransportStatus.css */
.status-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px; */
    /* background-color: hwb(0 96% 4% / 0); */
    /* border-radius: 10px; */
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    font-size:smaller
  }
  
  .status-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
  }
  
  .status {
    padding: 5px 0px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 80px;
    background-color: gray;
    color: white;
    cursor: pointer;
  }
  
  .status.active {
    background-color: #28a745;
  }
  
  .status.disabled {
    cursor: not-allowed;
  }
  .line {
    height: 10px;
    background-color: rgba(153, 121, 121, 0.21);
    flex: 1;
    /* margin: 0 10px; */
    width: 34px;
    position: relative;
  }
  
  .line.active {
    background-color: green;
  }
  